{% extends 'base.html.twig' %}

{% block title %}Gardes Administratives{% endblock %}
{% block navbar %} {{ parent() }} {% endblock %}


{% block content %}
    {{ parent() }}

    <div id="calendrier">

    </div>

    <html>
    <body>
    <table border="1">
        <tbody id="tbody">
        <tr>
            <span id="prev">Précédent </span>
            <th colspan="32" id="month"></th>
            <span id="next"> Suivant</span>
        </tr>
        <tr id="days">
            <th></th>
        </tr>
        <tr id="dates">
            <td style="text-align: center">Utilisateurs</td>
        </tr>
        <tr id="users">
        </tr>
        </tbody>
    </table>

    <div style="color: red; font-weight: bold">
    </br>

        {% for garde in garde %}
            {% if app.user %}

            {% else %}
                {{ garde.commentaire }}
            {% endif%}
        {% endfor %}
    </div>

    </body>
    </html>
{% endblock %}

{% block javascripts %}
    <script>
        moment.updateLocale('fr', {
            months: 'Janvier_Février_Mars_Avril_Mai_Juin_Juillet_Août_Septembre_Octobre_Novembre_Décembre'.split('_'),
            monthsShort: 'janv._févr._mars_avr._mai_juin_juil._août_sept._oct._nov._déc.'.split('_'),
            monthsParseExact: true,
            weekdays: 'Dimanche_Lundi_Mardi_Mercredi_Jeudi_Vendredi_Samedi'.split('_'),
            weekdaysShort: 'dim._lun._mar._mer._jeu._ven._sam.'.split('_'),
            weekdaysMin: 'Di_Lu_Ma_Me_Je_Ve_Sa'.split('_'),
            weekdaysParseExact: true,
            longDateFormat: {
                LT: 'HH:mm',
                LTS: 'HH:mm:ss',
                L: 'DD/MM/YYYY',
                LL: 'D MMMM YYYY',
                LLL: 'D MMMM YYYY HH:mm',
                LLLL: 'dddd D MMMM YYYY HH:mm'
            },
            calendar: {
                sameDay: '[Aujourd’hui à] LT',
                nextDay: '[Demain à] LT',
                nextWeek: 'dddd [à] LT',
                lastDay: '[Hier à] LT',
                lastWeek: 'dddd [dernier à] LT',
                sameElse: 'L'
            },
            relativeTime: {
                future: 'dans %s',
                past: 'il y a %s',
                s: 'quelques secondes',
                m: 'une minute',
                mm: '%d minutes',
                h: 'une heure',
                hh: '%d heures',
                d: 'un jour',
                dd: '%d jours',
                M: 'un mois',
                MM: '%d mois',
                y: 'un an',
                yy: '%d ans'
            },
            dayOfMonthOrdinalParse: /\d{1,2}(er|e)/,
            ordinal: function (number) {
                return number + (number === 1 ? 'er' : 'e');
            },
            meridiemParse: /PD|MD/,
            isPM: function (input) {
                return input.charAt(0) === 'M';
            },
            // In case the meridiem units are not separated around 12, then implement
            // this function (look at locale/id.js for an example).
            // meridiemHour : function (hour, meridiem) {
            //     return /* 0-23 hour, given meridiem token and hour 1-12 */ ;
            // },
            //meridiem : function (hours, minutes, isLower) {
            //return hours < 12 ? 'PD' : 'MD';
        })
        let today = moment()
        const daysElement = document.querySelector('#days')
        const datesElement = document.querySelector('#dates')
        const monthsElement = document.getElementById("month")


        function refreshMonth() {
            monthsElement.innerText = `${today.format('MMMM')} ${today.format('YYYY')}`
        }

        function removeChildUser() {
            document.querySelector(".user").remove()
            console.log(document.querySelectorAll(".user"))
        }

        function createPlanning() {
            let daysInMonth = today.daysInMonth();
            refreshMonth()

            for (let i = 0; i < daysInMonth; i++) {
                let date = parseInt(moment().startOf('months').format('D')) + i
                let day = moment(`${i + 1}-${today.format('M')}-${today.format('YYYY')}`, "DD-MM-YYYY").format('dd')
                daysElement.insertAdjacentHTML('beforeend', `<th>${day}</th>`)
                datesElement.insertAdjacentHTML('beforeend', `<td>${date}</td>`)
            }

            {% for user in users %}
                var newTr = document.createElement('tr')
                newTr.id = "user_{{user.id}}"
                newTr.classList = "user"
                var newTd = document.createElement('td')
                newTd.innerText = "{{user.prenom}} {{user.nom}}"
                document.querySelector('#tbody').append(newTr)
                newTr.append(newTd)

                for (let j = 0; j < daysInMonth; j++) {
                    var td = document.createElement('td')
                    var checkbox = document.createElement('input')
                    checkbox.setAttribute("type", "checkbox")
                    newTr.append(td)
                    td.append(checkbox)
                }
            {% endfor %}
        }

        function removeChild() {
            daysElement.innerHTML = ""
            datesElement.innerHTML = ""
            daysElement.insertAdjacentHTML('afterbegin', '<th></th>')
            datesElement.insertAdjacentHTML('afterbegin', '<td style="text-align: center">Utilisateurs</td>')
        }


        function addMonth() {
            removeChild()
            removeChildUser()
            today.add(1, 'months')
            createPlanning()
            refreshMonth()
        }

        function subMonth() {
            removeChild()
            removeChildUser()
            today.subtract(1, 'months')
            createPlanning()
            refreshMonth()
        }

        createPlanning()

        document.querySelector('#next').addEventListener('click', addMonth)
        document.querySelector('#prev').addEventListener('click', subMonth)
        let daysInMonth = today.daysInMonth();

    </script>
{% endblock %}